@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

/**
 * General styles
 * - Layout
 * - Type
 * - Forms
 */

/**
 * Layout
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/**
 * Type
 */

h1,
h2,
h3,
h4,
h5,
h6 {}

p {}

a {}
a:hover {}
a:visited {}
a:active {}

/**
 * Forms
 */

textarea:focus,
.input-field input:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field input:focus:not([readonly]) + label {
    color: #9e9e9e !important;
}

/**
 * Alert
 */

.alert ul {
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
}


/**
 * Specific styles
 * -
 */
