@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

/**
 * General styles
 *
 * - Colors
 * - Layout
 * - Nav
 * - Type
 * - Buttons
 * - Forms
 * - Alerts
 */

/**
 * Colors
 *
 * white        #FFFFFF
 * pale red     #FF7981
 * sbs red      #EB2935 (from SBS logo)
 * red          #D50C17
 * bright red   #FC0D1B
 * light gray   #F2F2F2
 * gray         #898989
 * dark gray    #3F3E3E
 */

.sbs-red {
    background-color: #EB2935
}
.sbs-red-text {
    color: #EB2935;
}

/**
 * Layout
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
}
.flex-col {
    flex: 1 0 auto;
}

main img {
    max-width: 100%;
}

div.row.hero {
    padding: 60px 0;
    text-align: center;
    margin-bottom: 0;
}
div.row.hero h4.header {
    font-size: 2.2rem;
    margin-bottom: 30px;
    text-transform: uppercase;
}
div.gray {
    background-color: #F2F2F2;
}

div.row.bg-image {
    background-image: url("/images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
div.row.bg-image.home {
    background-image: url("/images/home/hero.jpg");
}
div.row.bg-image.about {
    background-image: url("/images/about/hero.jpg");
}
div.row.bg-image.career-services {
    background-image: url("/images/career-services/hero.jpg");
}
div.row.bg-image.recruiting {
    background-image: url("/images/recruiting/hero.jpg");
}
div.row.bg-image.services {
    background-image: url("/images/services/hero.jpg");
}
div.row.bg-image.training-consulting {
    background-image: url("/images/training-consulting/hero.jpg");
}
div.row.bg-image h1,
div.row.bg-image h2,
div.row.bg-image h3,
div.row.bg-image h4,
div.row.bg-image h5,
div.row.bg-image h6,
div.row.bg-image p {
    color: #FFFFFF;
}

/**
 * Nav
 */

nav {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

nav.nav-main {
    height: 120px;
    line-height: 120px;
    background-color: #FFFFFF;
}
nav.nav-main ul li {
    padding-bottom: 0 !important;
    font-size: inherit !important;
    line-height: inherit !important;
}
nav.nav-main ul a {
    color: #898989;
    font-weight: 300;
    line-height: 70px;
    margin-top: 50px;
    font-size: 110%;
}
nav.nav-main ul a:hover {
    color: #3F3E3E;
}

.brand-logo > img {
    height: 60px;
    vertical-align: bottom;
    margin-bottom: 20px;
}

nav a.button-collapse {
    color: #898989;
    line-height: 60px;
    margin: 0;
}
nav ul.side-nav li a {
    font-weight: 300;
    line-height: 40px;
    height: 40px;
    margin-top: 0px;
}
nav.nav-main ul.side-nav li.social-media {
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav.nav-main ul.side-nav li.social-media a {
    text-align: center;
    height: 50px;
    line-height: 50px;
}
nav.nav-main ul.side-nav li.social-media a i {
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}

nav.nav-user {
    height: 40px;
    line-height: 40px;
    background-color: #F2F2F2;
}
nav.nav-user ul {
    font-size: 14.5px !important;
}
nav.nav-user ul li {
    font-size: inherit !important;
    line-height: inherit !important;
    padding-bottom: 0 !important;
}
nav.nav-user a,
nav.nav-user ul a {
    color: #3F3E3E;
    font-size: 0.90em;
    text-transform: uppercase;
    letter-spacing: 0.18px;
    font-weight: 300;
}
nav.nav-user ul li a {
    height: 40px;
    line-height: 40px;
}
nav.nav-user ul li a i {
    height: 40px;
    line-height: 40px;
}

nav.nav-center {}
nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

nav.nav-sub {
    height: 60px;
    line-height: 60px;
    background: #EB2935;
}
nav.nav-sub ul {}
nav.nav-sub ul li {}
nav.nav-sub ul li a {}

nav.nav-admin {
    height: 40px;
    line-height: 40px;
    background: #3F3E3E;
}
nav.nav-admin ul {}
nav.nav-admin ul li {}
nav.nav-admin ul li a {}
nav.nav-admin a.button-collapse {
    color: #D3D3D3;
    line-height: 40px;
    margin: -48px 18px;
}

nav.nav-breadcrumb {
    height: 30px;
    line-height: 30px;
    background: #3F3E3E;
}
nav.nav-breadcrumb a.breadcrumb {
    font-size: 0.8em;
}

footer.page-footer {
    background-color: #F2F2F2;
    color: #3F3E3E;
}
footer.page-footer .footer-copyright {
    background-color: #3F3E3E;
    color: #F2F2F2;
}

nav.nav-main ul.dropdown-content {
    margin-top: 40px;
}
nav.nav-main ul.dropdown-content a {
    color: #898989;
    font-weight: 300;
    line-height: 20px;
    margin-top: 0px;
}

/**
 * Type
 */

h1 { font-size: 3.4rem; }
h2 { font-size: 2.8rem; }
h3 { font-size: 2.2rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    letter-spacing: 0.03em;
}

h1.heavy,
h2.heavy,
h3.heavy,
h4.heavy,
h5.heavy,
h6.heavy {
    font-weight: 700;
}

p {
    font-weight: 300;
}
.small {
    font-size: 0.8em;
}
.heavy {
    font-weight: 700;
}
.spaced {
    margin: 0 6px;
}
.padded {
    padding: 0 6px;
}
.large-text {
    font-size: 115%;
}

ul.bullets {
    padding-left: 25px;
}
ul.bullets>li {
    list-style-type: disc;
}

ul.spaced>li ,
ol.spaced>li {
    padding-bottom: 16px;
}

a {}
a>img {
    border: 3px solid transparent;
}
a:hover>img {
    border: 3px solid #EB2935;
}
a.brand-logo>img,
a.brand-logo:hover>img {
    border: none;
}
a.no-underline {
    border: none;
}
a:hover.no-underline {
    border: none;
}

main a.btn,
main a.btn:hover,
footer a.btn,
footer a.btn:hover {
    border-bottom: none;
}
main a,
footer a {
    color: inherit;
    border-bottom: 3px solid #C9C9C9;
    transition: border-bottom 150ms ease;
}
main a:hover,
footer a:hover {
    border-bottom: 3px solid #EB2935;
}
main a.green-text:hover,
footer a.green-text:hover {
    border-bottom: 3px solid #4CAF50;
}
main a.blue-text:hover,
footer a.blue-text:hover {
    border-bottom: 3px solid #2196F3;
}

ul.footer-nav {
    margin-top: 40px;
    list-style: none;
    font-size: 0.8em;
}
ul.footer-nav li {
    display: inline;
}
ul.footer-nav li a {
    display: inline-block;
    margin: 0 10px;
}
@media only screen and (max-width: 992px) {
    ul.footer-nav li {
        display: block;
    }
    ul.footer-nav li a {
        display: inline-block;
        margin: 6px 0;
    }
}

hr {
    margin: 16px 0;
    color: #CCC;
}

/**
 * Buttons
 */

.btn.btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 1.6rem;
    font-size: 0.9em;
}
.btn.btn-xsmall {
    height: 20px;
    line-height: 20px;
    padding: 0 1rem;
    font-size: 0.7em;
}

.btn.sbs-red {}
.btn.sbs-red:hover,
.btn.sbs-red:focus {
    background-color: #EB2935;
}

.btn.white-outline {
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.2s linear;
}
.btn.white-outline:hover {
    background: #FFFFFF;
    color: #EB2935;
}

/**
 * Forms
 */

form .row {
    margin-bottom: 10px;
}

textarea:focus,
.input-field input:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field input:focus:not([readonly]) + label {
    color: #9e9e9e !important;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #FF7981;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #EB2935;
    left: 24px;
}

/**
 * Alert
 */

.alert ul {
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
}

/**
 * Arrows
 */

div.arrow {
    width: 0;
    height: 0;
}
div.arrow.down {
    margin: 0 auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F2F2F2;
}
.arrow-up {
    margin: 0 auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F2F2F2;
}
.arrow-right {
    margin: auto 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #F2F2F2;
}
.arrow-left {
    margin: auto 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #F2F2F2;
}

/**
 * Pagination
 */

.pagination {}
.pagination li a {
    border-bottom: none;
}
.pagination li.active {
    background-color: #898989;
}

/**
 * Specific styles
 * - Question
 * - Answer
 * - Job board
 */

/**
 * Question
 */

/**
 * Answer
 */

.row.answer > .col {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #CCC;
}

/**
 * Job board
 */

.row.job-index {}
.row.job-index img.thumb {
    max-width: 100px;
    max-height: 100px;
}
@media only screen and (max-width: 992px) {
    .row.job-index img.thumb {
        max-width: 100%;
        max-height: 100%;
    }
}

.row.job-show {}
.row.job-show img {
    max-width: 200px;
    max-height: 200px;
    padding: 20px 30px;
    margin-top: 10px;
}
@media only screen and (max-width: 992px) {
    .row.job-show img {
        max-width: 100%;
        max-height: 100%;
        padding: 5px 5px;
    }
}
.row.job-show .job-description {
    padding-bottom: 30px;
}
.row .col.job-inquire {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 20px;
}

.row .col.job-inquiry {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 10px;
    padding-bottom: 10px;
}

form#edit-job {}
form#edit-job img {
    max-width: 200px;
    max-height: 200px;
    padding: 20px 30px;
}

/**
 * Carousel
 */
.carousel {}
.carousel .carousel-item {
    background-color: #F2F2F2
}
.carousel.testimonial img.logo {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 220px;
    padding: 20px 10px 0px 10px;
    width: auto;
    height: auto;
}
.carousel .carousel-item .testimonial-content {
    padding: 18px 24px;
    text-align: left;
}
.carousel .indicators .indicator-item {
    background-color: #FF7981;
}
.carousel .indicators .indicator-item.active {
    background-color: #EB2935;
}

/**
 * Services
 */

.gray-bg {
    background-color: #F2F2F2;
}
.red-hover:hover {
    background-color: #EB2935;
    color: #FFFFFF;
    transition: all 0.2s linear;
}
.red-hover .btn {
    background: transparent;
    border: 2px solid #EB2935;
    color: #EB2935;
}
.red-hover:hover .btn,
.red-hover .btn:hover {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.2s linear;
}

/**
 * Instagram
 */

#instagram h5 {
    margin-bottom: 1.2rem;
}
#instagram a,
#instagram a:hover {
    border: none;
    transition: none;
}
#instagram a.username {
    border: none;
}
#instagram a.username:hover {
    border-bottom: 2px solid #EB2935;
}
#instagram img.avatar {
    border: 2px solid transparent;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
#instagram a:hover img.avatar {
    border: 2px solid #EB2935;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
#instagram .row {
    margin-bottom: 2px;
}
#instagram .instagram-feed a img {
    border: 2px solid transparent;
    max-width: 100%;
    max-height: 100%;
}
#instagram .instagram-feed a:hover img {
    border: 2px solid #EB2935;
}

/**
 * Twitter #SportsBizTip
 */

#twitter-sportsbiztip {}
#twitter-sportsbiztip .tweets {
    display: flex;
}
#twitter-sportsbiztip .tweets .col {
    display: flex;
}
#twitter-sportsbiztip .tweets .col a {
    display: flex;
    border: none;
}
#twitter-sportsbiztip .tweets .col a:hover {
    border: none;
}
#twitter-sportsbiztip .tweets .col a .tweet {
    border: 3px solid transparent;
}
#twitter-sportsbiztip .tweets .col a:hover .tweet {
    border: 3px solid #1DA1F2;
}
#twitter-sportsbiztip .tweet {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    background: #EEE;
    margin: 4px;
    padding: 15px;
    text-align: center;
}
#twitter-sportsbiztip .tweet {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    background: #EEE;
    margin: 4px;
    padding: 15px;
    text-align: center;
}

/**
 * Twitter
 */

.twitter h5 {
    margin-bottom: 1.2rem;
}
.twitter a,
.twitter a:hover {
    border: none;
    transition: none;
}
.twitter a.username {
    border: none;
}
.twitter a.username:hover {
    border-bottom: 2px solid #EB2935;
}
.twitter img.avatar {
    border: 3px solid transparent;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.twitter a:hover img.avatar {
    border: 3px solid #EB2935;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.twitter-feed {
    max-height: 300px;
    overflow-y: scroll;
}
.twitter-feed iframe .timeline-Widget {
    background: none;
}
.twitter-feed iframe .timeline-Header {
    display: none;
}

/**
 * Panels
 */

.panel-icon {
    height: 50px;
    width: 50px;
    display: block;
    margin: 20px auto 30px auto;
}

/**
 * Service flex
 */

.service-flex {
    display: flex;
}

/**
 * SBS grid
 */
.sbs-row {
    display: flex;
    flex-flow: row;
}
.sbs-col-6 {
    flex: 1 1 50%;
}
.sbs-col-6.gray {
    background-color: #F2F2F2;
    padding: 50px 65px;
}
.sbs-col-6.bg-img {
    background-size: cover;
    background-position: center;
    min-height: 300px;
}
.sbs-col-6.bg-img.training {
    background-image: url('/images/home/training.jpg');
}
.sbs-col-6.bg-img.recruiting {
    background-image: url('/images/home/recruiting.jpg');
}
.sbs-col-6.bg-img.services {
    background-image: url('/images/home/services.jpg');
}

/**
 * Icons
 */

.fa-16x {
    font-size: 1.6em!important;
}

a#hub-video {
    color: #FFFFFF;
    border: none;
}
a#hub-video:hover {
    color: #FFFFFF;
    border: none;
}

/**
 * Insight videos
 */

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Blog preview
 */
.blog {
    margin-bottom: 30px;
}
.blog .blog-post-container {
    padding-bottom: 1.5rem;
}
.blog a.blog-post-link .blog-post-wrapper {
    text-align: center;
    min-height: 300px;
    display: flex;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog a.blog-post-link .blog-post {
    text-align: center;
    padding: 12px 18px;
    flex: 1 1 100%;
    display: flex;
}
.blog a.blog-post-link .blog-post h5 {
    padding: 10px;
    background: rgba(0,0,0,.75);
    color: #FFFFFF;
    max-width: 400px;
    margin: auto;
    text-align: center;

}
.blog a.blog-post-link .blog-post {
    background: transparent;
    transition: background .3s;
}
.blog a.blog-post-link:hover .blog-post {
    background: rgba(235,41,53,0.75);
}

/**
 * Mailchimp
 */

#mce-success-response {
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 16px;
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 4px;
}

/**
 * Media queries
 */
@media only screen and (min-width: 601px) {
    .sbs-row .sbs-col-6.push-m6 {
        left: 50%;
    }
    .sbs-row .sbs-col-6.pull-m6 {
        right: 50%;
    }
}
@media only screen and (max-width: 601px) {
    .sbs-row {
        display: block;
    }
    .sbs-row .sbs-col-6 {
        flex: 0 0 100%;
    }
    .sbs-col-6.gray {
        padding: 20px 25px;
    }
    .carousel.testimonial.carousel-slider {
        height: 800px;
    }

    .service-flex {
        display: none;
    }
}
